<div class="panel">
  <h3><%= t('active_admin.pages.individual_classification') %></h3>
  <div class="panel_contents">
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th class="col col-index"><%= t('active_admin.classification.rank') %></th>
        <th class="col col-name"><%= t('active_admin.classification.name') %></th>
        <% (1..10).each do |i| %>
          <th class="col col-p<%= i %>">P<%= i %></th>
        <% end %>
        <th class="col col-points"><%= t('active_admin.classification.points') %></th>
        <th class="col col-total-points"><%= t('active_admin.classification.total') %></th>
      </tr>
      </thead>
      <tbody>
      <% @players.each_with_index do |player, index|  %>
        <tr id=<%="player_#{index}"%>>
          <% rowspan = player.shields.size %>
          <td class="col col-place" rowspan="<%=rowspan%>"><%= index + 1 %></td>
          <td class="col col-name" rowspan="<%=rowspan%>"><%= auto_link(player) %></td>
          <%= render 'shield_data', shield: player.shields[0] %>
          <td class="col col-points" rowspan="<%=rowspan%>"><%= player.points %></td>
        </tr>
        <% player.shields.drop(1).each do |shield| %>
          <tr><%= render 'shield_data', shield: shield %></tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
